In [24]:
import pandas as pd
pd.set_option("display.max_row", 100)
pd.set_option("display.max_column", 100)
import numpy as np
import os

from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error as mse
from sklearn.model_selection import train_test_split

In [25]:
cus = pd.read_csv("data/cus_info.csv")
iem = pd.read_csv("data/iem_info_20210902.csv")
hist = pd.read_csv("data/stk_bnc_hist.csv")
train = pd.read_csv("data/stk_hld_train.csv")
test = pd.read_csv("data/stk_hld_test.csv")
submission = pd.read_csv("data/sample_submission.csv")

In [26]:
train.head()

,act_id,iem_cd,byn_dt,hold_d
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A006360,20180726,11
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005930,20180131,80
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005070,20180517,5
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A003520,20201112,22
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A002310,20180905,324

In [1]:
from pykrx import stock

In [19]:
df = stock.get_market_ohlcv_by_date("20160101", "20201231", "059270")

In [20]:
df=df.T

In [21]:
df

Empty DataFrame
Columns: []
Index: [시가, 고가, 저가, 종가, 거래량]

In [31]:
(test['iem_cd']=='A059270').count()

70596

In [32]:
len(test)

70596

In [33]:
li=['060080',
 '142220',
 '145730',
 '153760',
 '158320',
 '169830',
 '184390',
 '199890',
 '213930',
 '235370',
 '236490',
 '240600',
 '241660',
 '244290',
 '244310',
 '247580',
 '255890',
 '258840',
 '259070',
 '271530',
 '272810',
 '279120',
 '284710',
 '285340',
 '292070',
 '294080',
 '298410',
 '29923L',
 '30018L',
 '308460',
 '309110',
 '311120',
 '31134K',
 '312230',
 '312800',
 '313100',
 '314080',
 '316320',
 '32316K',
 '336730',
 '340750',
 '34385K',
 '350340',
 '376430',
 '049450',
 '113300',
 '123780',
 '163290',
 '169140',
 '177850',
 '179090',
 '210160',
 '228980',
 '234760',
 '239280',
 '24251Q',
 '249680',
 '250990',
 '254650',
 '258340',
 '258890',
 '261780',
 '266930',
 '276040',
 '278470',
 '281630',
 '283970',
 '289190',
 '298130',
 '29922L',
 '300500',
 '306130',
 '306920',
 '31508K',
 '316840',
 '318140',
 '318590',
 '319810',
 '328130',
 '332760',
 '34534K',
 '34695K',
 '350990',
 '35286N',
 '355410',
 '35732K',
 '364460',
 '367800',
 '379660',
 '380170',
 '385660',
 '004050',
 '038430',
 '064470',
 '067030',
 '093810',
 '099430',
 '106870',
 '156000',
 '177900',
 '186630',
 '203900',
 '226590',
 '228990',
 '239620',
 '239970',
 '246780',
 '255780',
 '259210',
 '259290',
 '266530',
 '268200',
 '276980',
 '277290',
 '277310',
 '277490',
 '280470',
 '285820',
 '286340',
 '293990',
 '304720',
 '30703K',
 '309740',
 '311320',
 '318400',
 '319700',
 '322590',
 '325840',
 '32904L',
 '33129K',
 '333900',
 '337280',
 '339610',
 '341170',
 '344540',
 '347030',
 '348080',
 '357100',
 '370310',
 '390350',
 '052920',
 '064400',
 '078510',
 '122230',
 '134660',
 '141280',
 '145940',
 '170190',
 '191390',
 '194530',
 '201400',
 '214240',
 '226250',
 '234820',
 '238820',
 '240180',
 '256970',
 '262100',
 '270530',
 '270730',
 '271830',
 '272850',
 '276960',
 '27863K',
 '283770',
 '285240',
 '285880',
 '298210',
 '299760',
 '302110',
 '333450',
 '341790',
 '344250',
 '358580',
 '366510',
 '380160']

In [36]:
for i in li:
    if (train['iem_cd']==i).count()!=len(train):
        print(i)

In [38]:
cus.head()

,act_id,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,mrz_pdt_tp_sgm_cd,lsg_sgm_cd,tco_cus_grd_cd,tot_ivs_te_sgm_cd,mrz_btp_dit_cd
0,64aae8dd71e5c0761000db9f9a6779e504e7a4aa9dc097...,1,4,99,1,2,3,3,6,16
1,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,1,6,4,4,2,5,2,6,1
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,2,7,4,3,2,5,5,6,9
3,6d497facfa1ea5901b827335553331f8555fec02a8184f...,2,6,4,4,8,5,3,6,16
4,b727c78d2cfc246c97b677f29a034399a0c7e7873fff44...,1,5,2,2,2,5,5,5,16