In [1]:
import pandas as pd

cus_info = pd.read_csv('../cus_info.csv')
stk_bnc_hist = pd.read_csv('../stk_bnc_hist.csv')
iem_info = pd.read_csv('../iem_info_20210902.csv')
stk_hld_train = pd.read_csv('../stk_hld_train.csv')
stk_hld_test = pd.read_csv('../stk_hld_test.csv')

In [2]:
temp_stk = stk_bnc_hist.copy()

In [3]:
temp_map = iem_info.apply(lambda x : x[['iem_cd','btp_cfc_cd']],axis=1)

In [4]:
temp_stk = pd.merge(temp_stk,temp_map,on='iem_cd',how='left')
temp_stk

,act_id,bse_dt,iem_cd,bnc_qty,tot_aet_amt,stk_par_pr,btp_cfc_cd
0,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200820,A008770,40.0,2828000.0,5000.0,7
1,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A008770,20.0,1390000.0,5000.0,7
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20160104,A005940,311.0,2982490.0,5000.0,2
3,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200814,A005930,40.0,2320000.0,100.0,9
4,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A005930,20.0,1028000.0,100.0,9
...,...,...,...,...,...,...,...
2573834,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200806,A035720,1.0,364000.0,500.0,5
2573835,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200813,A035720,0.0,0.0,500.0,5
2573836,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200819,A035720,1.0,376500.0,500.0,5
2573837,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200825,A035720,0.0,0.0,500.0,5
2573838,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200901,A035720,1.0,401500.0,500.0,5

In [5]:
temp_stk.groupby('act_id')['btp_cfc_cd'].value_counts()

act_id                                                            btp_cfc_cd
0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c5467ece45d5b35e99912a  13            38
                                                                  10            26
                                                                  14            19
                                                                  12            18
                                                                  2             16
                                                                                ..
fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6bc012f43564f626533  6              9
                                                                  8              6
                                                                  14             5
                                                                  12             4
                                                                  2              2
Name: btp_cfc_cd, Length: 85935, dtype: int64

In [6]:
temp = temp_stk.groupby('act_id')['btp_cfc_cd'].value_counts()

In [7]:
temp = temp_stk.groupby('act_id')['btp_cfc_cd'].value_counts()
temp = pd.DataFrame(temp)
temp.columns=['main_up']
temp = temp.reset_index()
print(temp)
# temp.groupby('act_id')['btp_cfc_cd']

                                                  act_id  btp_cfc_cd  main_up
0      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...          13       38
1      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...          10       26
2      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...          14       19
3      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...          12       18
4      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...           2       16
...                                                  ...         ...      ...
85930  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...           6        9
85931  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...           8        6
85932  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...          14        5
85933  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...          12        4
85934  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...           2        2

[85935 rows x 3 columns]

In [8]:
temp.iloc[temp.groupby('act_id')['main_up'].idxmax().to_list()].reset_index(drop=True).drop('main_up',axis=1)

                                                 act_id  btp_cfc_cd
0     0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...          13
1     0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa...           9
2     0008d1bfac569bdb998897e2eb8519dec06b9277a686f4...          13
3     000a83a961cbcbce40673aed998effbd462fb10dcac8e6...           5
4     000b92ca83a96312a0909b1f489340f4d399c86555012f...           9
...                                                 ...         ...
9987  ffea89aa464a4fcf8a5416989d21deef4e748192ba17bf...          10
9988  ffecc8e2823943ef1a7b0d9c6512f716a88032a1bdf7ba...          10
9989  ffee399294db1c721e010cbf3dae5c8a1f140dbaf2dcae...           5
9990  fff7d563e388744fdc1ca90153ec0161d1345511cb9070...          10
9991  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...           9

[9992 rows x 2 columns]