In [1]:
import pandas as pd

In [2]:
cus = pd.read_csv("data/cus_info.csv")
iem = pd.read_csv("data/iem_info_20210902.csv")
hist = pd.read_csv("data/stk_bnc_hist.csv")
train = pd.read_csv("data/stk_hld_train.csv")
test = pd.read_csv("data/stk_hld_test.csv")
submission = pd.read_csv("data/sample_submission.csv")

In [3]:
# 국내주식 잔고이력에서 전체 종목코드 중 뭘 제일 많이 샀는지 내림차순
total_iem_cd=hist['iem_cd'].value_counts()

In [4]:
total_iem_cd

A005930    61617
A000660    22483
A035720    21616
A005380    17722
A005935    17651
           ...
A343510        1
A333450        1
A35286N        1
A145730        1
A333900        1
Name: iem_cd, Length: 2926, dtype: int64

In [5]:
# 국내주식 잔고이력에서 전체 종목코드 중 개인 계좌번호에 따른 종목 뭘 제일 많이 샀는지 내림차순
personal_iem_cd=hist.groupby('act_id')['iem_cd'].value_counts()

In [6]:
personal_iem_cd['1119c23c3a504ca7b75060277410c0f6fb9018ec7638c226bfff4211d8a7bde6']

iem_cd
A066570    3
A003620    2
A005880    2
A005930    2
A008770    2
A017810    2
A035420    2
A035720    2
A137400    2
A005490    1
A005940    1
A032640    1
A033780    1
Name: iem_cd, dtype: int64

In [7]:
act_id_list=hist['act_id'].unique()

In [8]:
act_id_list

array(['1119c23c3a504ca7b75060277410c0f6fb9018ec7638c226bfff4211d8a7bde6',
       '66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2da05b646085d8eb408',
       '51c0d868a0d91c15a5eefdd68fbca1d1c5e3215fcebb332b7361238d14ef6b4d',
       ...,
       'ba4c5e445f98014ba264571300430c4f4b75a81dab02560ec83be94de1feafc3',
       '3e51702eea7420c4c0c68831b42bc7dea1b79064df6692f54f8bc04f2cd99093',
       '720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526dee26a068e1f63395f91'],
      dtype=object)

In [9]:
from tqdm import tqdm

In [14]:
idx=list(range(0,len(iem)))
iem_list=iem['iem_cd'].to_list()
tt=pd.DataFrame([idx,iem_list]).T

In [15]:
type(iem_list)

list

In [113]:
tp=pd.DataFrame(columns = ['id','btp','mkt','stk'])
for i in (0,2):#tqdm(range(len(hist))):
    print(hist['iem_cd'][i])
    print(iem_list)
    if hist['iem_cd'][i] in iem_list:
        print('123')
        t=hist['iem_cd']
        print(t)
        k=tt.loc[tt[1]==t,:][0]
        tp['id']=hist['act_id'][k]
        tp['btp']=iem['btp_cfc_cd'][k]
        tp['mkt']=iem['mkt_pr_tal_scl_tp_cd'][k]
        tp['stk']=iem['stk_dit_cd'][k]
        break

A008770
0       A000020
1       A000080
2       A000180
3       A000227
4       A000325
         ...
3074    A383310
3075    A385520
3076    A388280
3077    A388420
3078    A394350
Name: iem_cd, Length: 3079, dtype: object
A005940
0       A000020
1       A000080
2       A000180
3       A000227
4       A000325
         ...
3074    A383310
3075    A385520
3076    A388280
3077    A388420
3078    A394350
Name: iem_cd, Length: 3079, dtype: object

In [109]:
tp

Empty DataFrame
Columns: [id, btp, mkt, stk]
Index: []

In [16]:
if hist['iem_cd'][0] in iem_list:
    print('tt')
else:
    print('error')

tt

In [126]:
iem_list[115]

'A008770'

In [133]:
type(hist['iem_cd'][0])

str

In [132]:
type(iem_list[115])

str

In [ ]:
아니 같은 str인데 왜 안됨?